{% extends 'forms/base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container-fluid my-md-5">
  <h1 class="p-0">{{header}}</h1>

  <div class="container-fluid text-end" style="height: 4rem;">
    {% for btn in fk_urls %}
      <a href="{% url btn %}?next={{ request.path|urlencode }}" class="btn btn-outline-success">Add {{btn | title}}</a>
    {% endfor %}
  </div>

  <form action="" method="post">
      {% csrf_token %}

      {{form.as_p}}
      <button type="submit" class="btn btn-outline-success my-3">Submit</button>
  </form>
</div>
{% endblock %}