{% extends 'forms/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container-fluid">
    <a href="book/">Book</a> <br>
    <a href="car/">Car</a> <br>
    <a href="song/">Song</a> <br>
    <a href="movie/">Movie</a> <br>
    <a href="job/">Job Post</a> <br>
    <a href="product/">Product</a>
    <a href="product/category/">Product Category</a><br>
    <a href="task/">Task</a>
    <a href="project/">Project</a><br>
    <a href="post/">Post</a>
    <a href="post/category/">Post Category</a><br>
    <a href="student/">Student</a>
    <a href="course/">Course</a>
    <a href="enrollment/">Enrollment</a>
</div>

{% endblock %}